<script setup lang="ts">
import { Avatar } from '@iad/design';
</script>

<template>
  <img
    alt="Vue logo"
    src="@/assets/logo.png"
  >
  <h1 class="text-3xl text-pink font-bold underline">
    Hello world!
  </h1>
  <Avatar
    initials="SA"
    type="lg"
  />
</template>
