<script setup lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { reactive, computed } from 'vue';
import HighLight from './HighLight.vue'

const props = defineProps({
  component: {
    type: Object,
    required: true
  },
  args: {
    type: Object,
    default: {}
  }
});

// console.log('component', props.component);
console.log('component', props.component.props);

const defaultProps = {};
if(props.component.props){
  Object.entries(props.component.props).forEach(([key]) => {
    defaultProps[key] = props.args[key] ? props.args[key] : undefined;
  });
}

const data = reactive(defaultProps);

const kebabize = str => {
   return str.split('').map((letter, idx) => {
     return letter.toUpperCase() === letter
      ? `${idx !== 0 ? '-' : ''}${letter.toLowerCase()}`
      : letter;
   }).join('');
}

const string = computed(() => {
  let argsString = '';
  Object.entries(data).forEach(([key, value]) => {
    if(value){
      if(typeof value === "boolean"){
        argsString += `${ kebabize(key) } `;
      } else {
        argsString += `${ kebabize(key) }="${ value }" `;
      }
    }
  });

  // eslint-disable-next-line no-underscore-dangle
  return `<${ props.component.name } ${ argsString }/>`;
});
</script>

<template>
  <ClientOnly>
    <div class="preview">
      <div class="preview__container">
        <keep-alive>
          <component
            :is="component"
            v-bind="data"
          />
        </keep-alive>
      </div>
    </div>
    <div class="language-vue">
      <HighLight :code="string" />
    </div>
    <div v-if="component.props" class="form">
      <div class="form_container">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Default</th>
              <th>Control</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="([key, value]) in Object.entries(component.props)"
              :key="key"
            >
              <td>{{key}}<span v-if="value.required" style="color:red;">*</span></td>
              <td><span v-if="value.type === String">string</span></td>
              <td><span v-if="value.default">{{ value.default }}</span></td>
              <td>
                <input
                  v-if="value.doc.control.type === 'string'"
                  type="text"
                  v-model="data[key]"
                >
                <select
                  v-if="value.doc.control.type === 'select'"
                  :name="key"
                  v-model="data[key]"
                >
                  <option :value="undefined">-</option>
                  <option
                    v-for="option in value.doc.options"
                    :value="option"
                  >
                    {{ option }}
                  </option>
                </select>
                <input
                  v-if="value.doc.control.type === 'boolean'"
                  type="checkbox"
                  id="checkbox"
                  v-model="data[key]"
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <!-- <div>
      <div
        v-for="([key, value]) in Object.entries(component.props)"
        :key="key"
      >
        <div>
          <span>{{key}}</span>
          <span v-if="value.type === String">string</span>
          <span v-if="value.default">{{ value.default }}</span>
          <input
            v-if="value.doc.control.type === 'string'"
            type="text"
            v-model="data[key]"
          >
          <select
            v-if="value.doc.control.type === 'select'"
            :name="key"
            v-model="data[key]"
          >
            <option :value="undefined">-</option>
            <option
              v-for="option in value.doc.options"
              :value="option"
            >
              {{ option }}
            </option>
        </select>
        </div>
      </div>
    </div> -->
    <!-- <div>
      <div
        v-for="(type, index) in types"
        :key="index"
      >
        <div v-if="type.type === 'string'">
          {{ type.name }}
          <span v-if="component.props[type.name]?.required">*</span>
          <span>string</span>
          <span v-if="component.props[type.name]?.default">
            {{ component.props[type.name].default }}
          </span>
          <input
            type="text"
            :value="data[type.name]"
            @input="event => data[type.name] = event.target.value"
          >
        </div>
      </div>
    </div> -->
  </ClientOnly>
</template>
