<script setup lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { useSlots } from 'vue';
import HighLight from './HighLight.vue'

const props = defineProps({
  class: {
    type: String,
    default: undefined
  },
});

const classArray = props.class ? props.class.split(' ') : []

const slots = useSlots();

console.log('classArray', classArray)

const kebabize = str => {
   return str.split('').map((letter, idx) => {
     return letter.toUpperCase() === letter
      ? `${idx !== 0 ? '-' : ''}${letter.toLowerCase()}`
      : letter;
   }).join('');
}

const getNodeString = (node) => {
  const isComponent = node.type && node.type.name ? true : false
  // console.log('node', isComponent, node);

  let argsString = '';
  if(node.props){
    argsString = !argsString ? ' ' : ''
    Object.entries(node.props).forEach(([key, value]) => {
      if(value){
        argsString += `${ key }="${ value }" `;
      } else {
        argsString += `${ key } `;
      }
    });
  }
  
  if(isComponent){
    console.log('node', isComponent, node.props, argsString);
    // eslint-disable-next-line no-underscore-dangle
    return `<${ node.type.name }${ argsString }/>`;
  }else{
    // const hasChildren = node.children ? true : false
    if(Array.isArray(node.children)) {
      const res = getSlotChildrenText(node.children)
      return `<${node.type}${argsString}>\n\t${res}\n</${node.type}>`;
    }else{
      return `<${node.type}${argsString}>${node.children}</${node.type}>`;
    }
  }
};

const getSlotChildrenText = (children) => children.map((node) => getNodeString(node)).join('\n');

const slotTexts = slots.default() && getSlotChildrenText(slots.default()) ? getSlotChildrenText(slots.default()) : '';
</script>

<template>
  <ClientOnly>
    <div class="preview">
      <div class="preview__container" :data-context="class" :class="class">
        <slot />
      </div>
    </div>
    <div class="language-vue">
      <HighLight class="language-vue" :code="slotTexts" />
    </div>
  </ClientOnly>
</template>
