<script setup lang="ts">
// eslint-disable-next-line import/no-extraneous-dependencies
import { useSlots } from 'vue';
import HighLight from './HighLight.vue'

const props = defineProps({
  component: {
    type: Object,
    required: true
  },
  args: {
    type: Object,
    default: {}
  },
  variant: {
    type: String,
    required: true
  }
});

// console.log('props.variant', props.variant)
// console.log('props.component', props.component)

const componentName = props.component.name
const arrayValues = props.component.props[props.variant].doc.control.type === 'select' ? props.component.props[props.variant].doc.options : []

// console.log('arrayValues', arrayValues)

const defaultProps = {};
Object.entries(props.component.props).forEach(([key]) => {
  defaultProps[key] = props.args[key] ? props.args[key] : undefined;
});

console.log('defaultProps', defaultProps)

const augmentedProps = arrayValues.map(value => {
  // console.log('value', value)
  const res = {...defaultProps}
  res[props.variant] = value
  return res
})

console.log('augmentedProps', augmentedProps)

const kebabize = str => {
   return str.split('').map((letter, idx) => {
     return letter.toUpperCase() === letter
      ? `${idx !== 0 ? '-' : ''}${letter.toLowerCase()}`
      : letter;
   }).join('');
}

const getComponent = (componentName, args) => {
  let argsString = '';
  Object.entries(args).forEach(([key, value]) => {
    if(value){
      if(typeof value === "boolean"){
        argsString += `${ kebabize(key) } `;
      } else {
        argsString += `${ kebabize(key) }="${ value }" `;
      }
    }
  });

  console.log('argsString', argsString)

  // eslint-disable-next-line no-underscore-dangle
  return `<${ componentName } ${ argsString }/>`;
}

// const string = getComponent(componentName, defaultProps);
const string = arrayValues.map(value => {
  const res = {...defaultProps}
  res[props.variant] = value
  return getComponent(componentName, res)
}).join('\n')

console.log('string', string)
</script>

<template>
  <ClientOnly>
    <div class="preview">
      <div class="preview__container">
        <component
          v-for="(varProps,i) in augmentedProps"
          :key="i"
          :is="component"
          v-bind="varProps"
        />
      </div>
    </div>
    <div class="language-vue">
      <HighLight :code="string" />
    </div>
  </ClientOnly>
</template>
