.iad_button {
  @apply
    inline-flex
    flex-row
    cursor-pointer
    items-center
    border
    typo-base
    rounded
    px-4
    py-2
    
    focus:outline-none
    focus:ring-2
    focus:ring-offset-2
    focus:ring-primary;

    &.--reverse {
      @apply
        flex-row-reverse
    }

    &.--contain {
      @apply
        text-white
        bg-primary
        border-transparent
        
        hover:bg-primary-light
        hover:text-primary

        active:text-white
        active:bg-primary;

        &.--disabled {
          @apply
            text-white
            bg-black/12;
        }
    }

    &.--outline {
      @apply
        text-primary
        bg-transparent
        border-black/12
        
        hover:bg-primary-light
        
        active:border-primary;

        &.--disabled {
          @apply
            text-black/38;
        }
    }

    &.--text {
      @apply
        text-primary
        bg-transparent
        border-transparent
        
        hover:bg-primary-light

        active:border-primary
        active:bg-transparent;

        &.--disabled {
          @apply
            text-black/38;
        }
    }

    &.--icon {
      @apply
        text-black/54
        bg-white
        border-transparent
        rounded-full
        p-2;
    }

    .iad_icon {
      &.--left {
        margin-right: 8px;
      }
      &.--right {
        margin-left: 8px;
      }
    }
}
