<script setup lang="ts">
import { computed } from 'vue';
import useDocsProps from '../../../docs/.vitepress/hooks/useDocsProps';
import types from './types/types';
import Icons from '../../assets/icons';
import Icon from '../icon/Icon.vue';

const props = defineProps(useDocsProps({
  type: {
    type: types,
    default: 'contain'
  },
  label: {
    type: String,
    default: ''
  },
  icon: {
    type: Object.keys(Icons),
    default: undefined
  },
  iconRight: {
    type: Boolean,
    default: false
  },
  disabled: {
    type: Boolean,
    default: false
  }
}));

const classObject = computed(() => ({
  [`--${ props.type }`]: props.label,
  '--icon': !props.label,
  '--reverse': props.iconRight,
  '--disabled': props.disabled
}));

const classObjectIcon = computed(() => ({
  '--left': props.label && !props.iconRight,
  '--right': props.label && props.iconRight
}));
</script>

<script lang="ts">
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'Button'
};
</script>

<template>
  <button
    type="button"
    class="iad_button"
    :class="classObject"
    :disabled="disabled"
  >
    <Icon
      v-if="icon"
      :class="classObjectIcon"
      :icon-name="icon"
      current-color
      size="sm"
    />
    {{ label.toUpperCase() }}
  </button>
</template>

<style lang="pcss">
@import './Button.pcss';
</style>
