@tailwind utilities;

.preview {
  all: initial;
}
.preview__container {
  position: relative;
  @apply typo-base;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1.25rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.preview__container > * {
  margin-right: 10px;
}

div.preview__container:before {
  position: absolute;
  font-weight: 300;
  top: 0.6em;
  right: 1em;
  z-index: 2;
  font-size: 0.8rem;
  color: #888;
}

div.preview__container:before {
  content: attr(data-context);
}

.form {
  all: initial;
}
.form_container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin: 1rem 0;
  min-width: 100%;
  overflow: hidden;
}
.form table {
  margin: 0px;
  min-width: 100%;
  display: table;
}
.form thead {
  background-color: rgb(249 250 251);
  border-bottom: 1px solid rgb(229 231 235);
}
.form tr {
  border: none;
}
.form tr:nth-child(2n) {
  background-color: rgb(249 250 251);
}
.form th {
  color: rgb(107 114 128);
  letter-spacing: .05em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .75rem;
  line-height: 1rem;
  text-align: left;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: none;
  font-family: var(--font-family-base);
}
.form tbody {
}
.form td {
  color: rgb(107 114 128);
  font-size: .875rem;
  line-height: 1.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  white-space: nowrap;
  border: none;
  font-family: var(--font-family-base);
}
