<script setup lang="ts">
import { computed } from 'vue';
import useDocsProps from '../../../docs/.vitepress/hooks/useDocsProps';
import sizes from './types/sizes';
import Icons from '../../assets/icons';

const props = defineProps(useDocsProps({
  size: {
    type: sizes,
    default: 'md'
  },
  iconName: {
    type: Object.keys(Icons),
    required: true
  },
  currentColor: {
    type: Boolean,
    default: false
  }
}));

const classObject = computed(() => ({
  [`--${ props.size }`]: true,
  '--defaultColor': !props.currentColor
}));
</script>

<script lang="ts">
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'Icon'
};
</script>

<template>
  <svg
    class="iad_icon"
    :class="classObject"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="currentColor"
    aria-hidden="true"
  >
    <path :d="Icons[iconName]" />
  </svg>
</template>

<style lang="pcss">
@import './Icon.pcss';
</style>
