.iad_icon {
  @apply
    shrink-0;

  &.--defaultColor {
    @apply
      text-black/54;
  }

  &.--lg {
    @apply
      w-12
      h-12;
  }
  &.--md {
      @apply
        w-[34px]
        h-[34px];
  }
  &.--sm {
    @apply
      w-[21px]
      h-[21px];
  }
  &.--xs {
    @apply
      w-[17px]
      h-[17px];
  }
}
