<script setup lang="ts">
import Avatar from '@/components/avatar/Avatar.vue';
import Icon from '@/components/icon/Icon.vue';
</script>

<template>
  <img
    alt="Vue logo"
    src="@/assets/logo.png"
  >
  <h1 class="text-3xl text-blue font-bold underline">
    Hello world!
  </h1>
  <Avatar
    initials="SA"
    size="md"
  />
  <Icon
    size="xs"
    icon-name="archive"
  />
  <Icon
    size="sm"
    icon-name="archive"
  />
  <Icon
    size="md"
    icon-name="archive"
  />
  <Icon
    size="lg"
    icon-name="archive"
    current-color
    class="text-teal-base"
  />
</template>
