<script setup lang="ts">
import { computed } from 'vue';
import useDocsProps from '../../../docs/.vitepress/hooks/useDocsProps';
import sizes from './types/sizes';
import colors from './types/colors';
import Icon from '../icon/Icon.vue';

const props = defineProps(useDocsProps({
  size: {
    type: sizes,
    default: 'md'
  },
  color: {
    type: colors,
    default: 'primary'
  },
  initials: {
    type: String,
    default: undefined
  },
  urlPicture: {
    type: String,
    default: undefined
  }
}));

const classObject = computed(() => ({
  [`--${ props.size }`]: true,
  [`--${ props.color }`]: true,
  '--hasImg': props.urlPicture
}));
</script>

<script lang="ts">
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'Avatar'
};
</script>

<template>
  <div
    class="iad_avatar"
    :class="classObject"
  >
    <img
      v-if="props.urlPicture"
      :src="props.urlPicture"
    >
    <span v-else-if="props.initials">{{ props.initials.substring(0, 3).toUpperCase() }}</span>
    <Icon
      v-else
      icon-name="avatar"
      :size="size"
      current-color
    />
  </div>
</template>

<style lang="pcss">
@import './Avatar.pcss';
</style>
