.iad_avatar {
  @apply
    flex
    justify-center
    items-center
    border
    border-solid
    rounded-full;

    &.--hasImg {
      @apply
        border-0;
    }

    &.--sm {
      @apply
        typo-xs
        w-6
        h-6;
    }

    &.--md {
      @apply
        typo-xl
        w-10
        h-10;
    }

    &.--lg {
      @apply
        typo-4xl
        w-20
        h-20;
    }

    &.--primary {
      @apply
        bg-primary-light
        text-primary-dark
        border-primary-dark;
    }

    &.--secondary {
      @apply
        bg-secondary-light
        text-secondary-dark
        border-secondary-dark;
    }

    &.--brown {
      @apply
        bg-brown-light
        text-brown-dark
        border-brown-dark;
    }

    &.--green {
      @apply
        bg-green-light
        text-green-dark
        border-green-dark;
    }

    &.--grey {
      @apply
        bg-grey-light
        text-grey-dark
        border-grey-dark;
    }

    &.--greyblue {
      @apply
        bg-greyblue-light
        text-greyblue-dark
        border-greyblue-dark;
    }

    &.--pink {
      @apply
        bg-pink-light
        text-pink-dark
        border-pink-dark;
    }

    &.--purple {
      @apply
        bg-purple-light
        text-purple-dark
        border-purple-dark;
    }

    &.--teal {
      @apply
        bg-teal-light
        text-teal-dark
        border-teal-dark;
    }

    &.--yellow {
      @apply
        bg-yellow-light
        text-yellow-dark
        border-yellow-dark;
    }

    &.--red {
      @apply
        bg-red-light
        text-red-dark
        border-red-dark;
    }

    &.--amber {
      @apply
        bg-amber-light
        text-amber-dark
        border-amber-dark;
    }

    img {
      @apply
        rounded-full;
    }
}
